[Desktop Entry]
Version=2.4.7
Type=Application
Name=DeltaEdit
GenericName=Text Editor for easy-programming
Comment=Text Editor
Categories=GNOME;GTK;Utility;TextEditor;
Icon=dedit
Exec=dedit
TryExec=/usr/bin/dedit
Terminal=false
MimeType=text/plain;
X-GNOME-FullName=Delta Text Editor
