[Desktop Entry]
Version=0.1
Type=Application
Name=GMemo 
Comment=GMemo
Categories=GNOME;GTK;Utility;
Icon=gmemo
Exec=gmemo
TryExec=/usr/bin/gmemo
Terminal=false
MimeType=text/plain;
X-GNOME-FullName=KS/G-Memo
